[Unit]
Description=ISS APRS Tracker
After=multi-user.target

[Service]
EnvironmentFile=/home/user/iss-aprs-tracker/.env
WorkingDirectory=/home/user/iss-aprs-tracker
Type=idle
ExecStart=/usr/bin/python3 /home/user/iss-aprs-tracker/tracker.py
Restart=always

[Install]
WantedBy=multi-user.target