[Unit]
Description=High Altitude Balloon APRS Tracker
After=multi-user.target

[Service]
WorkingDirectory=/home/user/high-altitude-balloon-aprs-tracker
Type=idle
ExecStart=/usr/bin/python3 /home/user/high-altitude-balloon-aprs-tracker/tracker.py
Restart=always

[Install]
WantedBy=multi-user.target